<p class="title is-5">Welcome to AICMS</p> 
<p class="subtitle is-5">The AI powered content management system that does the writing for you.</p>
<span class="tag is-primary"><%= link_to "Sign Up", signup_path, :class=>"has-text-white"  %></span>
<span class="tag is-primary"><%= link_to "Log In", login_path, :class=>"has-text-white"  %></span>
<span class="tag is-primary"><%= link_to "Log In With Google", "/auth/google_oauth2", :class=>"has-text-white"  %></span>