<p class="title is-5"><%=@user.username %></p>
<% if admin? %>
    <p class="subtitle is-6">Admin</p>
<% end %>

<span class="tag is-primary">
    <%= link_to 'See all documents', user_documents_path(@user), :class=>"has-text-white" %>
</span>    
<span class="tag is-primary">
    <%= link_to 'Add a new document', new_user_document_path(@user), :class=>"has-text-white" %>
</span>

