<h1>¡Your Documents!</h1>

<ol>
<% @documents.each do |document| %>
    <li><%= link_to document.name, document_path(document) %></li>
<% end %>
</ol>
<p><%= link_to "Create new document", new_document_path %></p>