<% if object.errors.any? %>
  <div id="error_explanation">
    <p class="subtitle is-6">
      <span class="tag is-warning is-medium">
        <%= pluralize(object.errors.count, "error") %> prohibited this from being saved
      </span>
      <ul class="is-size-6">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </p>
  </div>
  <br>
<% end %>